/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1300px;
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.str {
  color: #d65c70;
}
.strBG {
  background-color: #d65c70;
}
.dex {
  color: #66816d;
}
.dexBG {
  background-color: #66816d;
}
.dexLight {
  color: #9cb1a2;
}
.intel {
  color: #2b6582;
}
.intelBG {
  background-color: #2b6582;
}
.intelLight {
  color: #4e9dc5;
}
.luck {
  color: #8f96a4;
}
.luckBG {
  background-color: #8f96a4;
}
.createAcc section,
.selectChar section {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 865px) {
  .createAcc section,
  .selectChar section {
    flex-direction: column;
  }
}
.createAcc div,
.selectChar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.createAcc div.textSide,
.selectChar div.textSide {
  border-right: 1px solid white;
  height: 100vh;
  width: 50%;
  min-height: 140px;
}
@media (max-width: 865px) {
  .createAcc div.textSide,
  .selectChar div.textSide {
    border-right: transparent;
    border-bottom: 1px solid white;
    width: 100%;
    height: 50vh;
  }
}
.createAcc div.inputSide,
.selectChar div.inputSide {
  width: 50%;
  min-height: 140px;
}
@media (max-width: 865px) {
  .createAcc div.inputSide,
  .selectChar div.inputSide {
    width: 100%;
    height: 50vh;
  }
}
.createAcc h1,
.selectChar h1 {
  color: #fff;
  font-size: 3.6rem;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 865px) {
  .createAcc h1,
  .selectChar h1 {
    font-size: 4rem;
  }
}
@media (max-width: 451px) {
  .createAcc h1,
  .selectChar h1 {
    font-size: 3rem;
  }
}
.createAcc p,
.selectChar p {
  padding: 3px;
  font-size: 1.7rem;
  text-align: center;
}
@media (max-width: 451px) {
  .createAcc p,
  .selectChar p {
    font-size: 1.5rem;
  }
}
.createAcc input,
.selectChar input {
  margin: 10px;
  width: 300px;
  height: 60px;
  min-height: 30px;
  font-size: 1.8rem;
  text-align: center;
}
.createAcc button.realBtn,
.selectChar button.realBtn {
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  height: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  min-height: 30px;
}
.createAcc button.realBtn:hover,
.selectChar button.realBtn:hover {
  background-color: #fff;
  color: #000;
}
.createAcc button.noBtn,
.selectChar button.noBtn {
  background: transparent;
  width: 300px;
  height: 40px;
  border: transparent;
  outline: transparent;
}
.selectChar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 865px) {
  .selectChar {
    flex-direction: column-reverse;
  }
}
@media (max-width: 865px) and (max-height: 825px) {
  .selectChar {
    justify-content: space-evenly;
  }
}
.selectChar div {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.selectChar div.inputSide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  min-height: 400px;
}
.selectChar div.textSide {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 865px) {
  .selectChar div.textSide {
    border-width: 1px 0 0 0;
  }
}
@media (max-width: 865px) and (max-height: 825px) {
  .selectChar div.textSide {
    min-height: 110px;
    height: 20vh;
  }
}
@media (max-width: 555px) {
  .selectChar div.textSide h1 {
    font-size: 3rem;
  }
}
@media (max-width: 430px) {
  .selectChar div.textSide h1 {
    font-size: 2.7rem;
  }
}
@media (max-width: 555px) {
  .selectChar div.textSide p {
    font-size: 1.5rem;
  }
}
@media (max-width: 555px) {
  .selectChar div.textSide p {
    font-size: 1.3rem;
  }
}
.selectChar div.statContainer {
  width: 80%;
}
.selectChar div.charCard {
  width: 160px;
  min-height: 160px;
  max-height: 190px;
  margin: 10px 5px;
  height: 35vh;
  background: #fff;
  color: #000;
  border-radius: 7px;
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid transparent;
  transition: box-shadow 2s, border 2s;
}
@media (max-height: 600px) {
  .selectChar div.charCard {
    margin: 5px;
  }
}
.selectChar div.charCard:hover {
  box-shadow: 0px 0px 15px 13px rgba(250, 250, 250, 0.3);
  border: 1px solid black;
}
.selectChar div.charCard h2.thisIsMeTitle {
  display: none;
}
.selectChar div.charCard h2 {
  font-family: "Oswald", sans-serif;
  padding-top: 5px;
  font-size: 2.1rem;
  text-decoration: underline;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
.selectChar div.charCard p {
  padding: 0;
}
.selectChar div.charCard div.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
.selectChar div.charCard button {
  display: block;
  color: #fff;
  border: 1px solid transparent;
  width: 160px;
  height: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0 0 7px 7px;
  transition: background-color 0.5s, color 0.5s, width 0.5s;
  min-height: 28px;
  margin-bottom: -1px;
  padding: 4px 0;
}
.selectChar div.charCard button:hover {
  background-color: #fff;
  color: #000;
  width: 158px;
}
.diner {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.chatContainer {
  height: 100vh;
  min-height: 200px;
  padding: 0 0 5px 5px;
  width: 75%;
  border-right: 1px solid white;
}
div.chatContainer div.chatlog {
  height: 94vh;
  min-height: 188px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid white;
  font-size: 1.7rem;
  white-space: pre-line;
  word-break: break-word;
  width: 100%;
  padding-bottom: 10px;
}
div.chatContainer div.chatlog p.emote {
  color: #66816d;
}
div.chatContainer form {
  margin-top: 0.5vh;
  padding: 5px 5px 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.chatContainer form input {
  width: 75%;
  height: 4vh;
  font-size: 1.8rem;
  min-height: 24px;
}
div.chatContainer form button {
  width: 20%;
  height: 4vh;
  margin-left: 3%;
  min-height: 24px;
}
div.buttonsAndList {
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.buttonsAndList div.users {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid white;
  overflow-y: scroll;
}
div.buttonsAndList div.users p {
  cursor: pointer;
  font-size: 2rem;
  margin: 5px 10px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
div.buttonsAndList div.users button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
div.buttonsAndList div.users div.aggressor,
div.buttonsAndList div.users div.selected,
div.buttonsAndList div.users div.challenging {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.buttonsAndList div.users div.aggressor p,
div.buttonsAndList div.users div.selected p,
div.buttonsAndList div.users div.challenging p {
  width: 40%;
}
div.buttonsAndList div.users div.aggressor {
  background-color: #2b6582;
}
div.buttonsAndList div.users div.selected {
  background-color: #8f96a4;
}
div.buttonsAndList div.users div.challenging {
  background-color: #d65c70;
}
div.buttonsAndList div.users div.actionButtons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
div.buttonsAndList div.actionButton {
  width: 100%;
  height: 20vh;
}
div.buttonsAndList div.actionButton button {
  background: transparent;
  border: 1px solid white;
  font-size: 1.6rem;
  color: #fff;
  height: 75px;
  max-width: 140px;
  width: 100%;
  display: block;
}
div.buttonsAndList div.actionButton button.disabledButton {
  background-color: rgba(128, 128, 128, 0);
  color: #808080;
  font-style: italic;
  border: 1px solid #808080;
}
div.buttonsAndList div.actionButton button.activeFightButton,
div.buttonsAndList div.actionButton button.challenging {
  cursor: pointer;
}
div.buttonsAndList div.actionButton button.challenging {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.fight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fight p {
  font-size: 2rem;
}
.fight div.opponent,
.fight div.user {
  height: 50vh;
  width: 100%;
  min-height: 180px;
}
.fight div.opponent {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}
.fight div.opponent .oppStats {
  width: 15%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fight div.opponent div.combatLog {
  width: 85%;
  white-space: pre-line;
  word-break: break-word;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 48vh;
  min-height: 200px;
}
.fight div.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.fight div.user div.currentWindow {
  height: 40vh;
  padding-top: 10px;
}
.fight div.user div.hud {
  height: 9vh;
  max-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fight div.user div.hud div.hudVitals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin-left: 30px;
}
.fight div.user div.hud div.hudStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-right: 30px;
}
.weaponsWindow {
  width: 100%;
  height: 40vh;
  min-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weaponsWindow div.weaponSelection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  height: 25vh;
  max-height: 60px;
  text-align: center;
}
.weaponsWindow div.weaponSelection p {
  margin-bottom: 2px;
}
.weaponsWindow div.weaponSelection button {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 100px;
  width: 100%;
  height: 35px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.weaponsWindow div.weaponSelection button:hover {
  background-color: #fff;
  color: #000;
}
.death {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.death button {
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.death button:hover {
  background-color: #fff;
  color: #000;
}
